html, body {
height: 100%;
margin: 0px;
}
body{
color: #555;
word-wrap: break-word;
font-size: 18px !important;
}

.menu-bar{
position:fixed;
top:10px;
left:10px;
z-index: 1;
}

.fonts-loaded body{
font-family: "Jeju Gothic",Geneva,sans-serif !important; 
}