<!DOCTYPE html>
<html>
<head>
<title>Dinwy's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<script>
(function(){'use strict';var f,g=[];function l(a){g.push(a);1==g.length&&f()}function m(){for(;g.length;)g[0](),g.shift()}f=function(){setTimeout(m)};function n(a){this.a=p;this.b=void 0;this.f=[];var b=this;try{a(function(a){q(b,a)},function(a){r(b,a)})}catch(c){r(b,c)}}var p=2;function t(a){return new n(function(b,c){c(a)})}function u(a){return new n(function(b){b(a)})}function q(a,b){if(a.a==p){if(b==a)throw new TypeError;var c=!1;try{var d=b&&b.then;if(null!=b&&"object"==typeof b&&"function"==typeof d){d.call(b,function(b){c||q(a,b);c=!0},function(b){c||r(a,b);c=!0});return}}catch(e){c||r(a,e);return}a.a=0;a.b=b;v(a)}}
function r(a,b){if(a.a==p){if(b==a)throw new TypeError;a.a=1;a.b=b;v(a)}}function v(a){l(function(){if(a.a!=p)for(;a.f.length;){var b=a.f.shift(),c=b[0],d=b[1],e=b[2],b=b[3];try{0==a.a?"function"==typeof c?e(c.call(void 0,a.b)):e(a.b):1==a.a&&("function"==typeof d?e(d.call(void 0,a.b)):b(a.b))}catch(h){b(h)}}})}n.prototype.g=function(a){return this.c(void 0,a)};n.prototype.c=function(a,b){var c=this;return new n(function(d,e){c.f.push([a,b,d,e]);v(c)})};
function w(a){return new n(function(b,c){function d(c){return function(d){h[c]=d;e+=1;e==a.length&&b(h)}}var e=0,h=[];0==a.length&&b(h);for(var k=0;k<a.length;k+=1)u(a[k]).c(d(k),c)})}function x(a){return new n(function(b,c){for(var d=0;d<a.length;d+=1)u(a[d]).c(b,c)})};window.Promise||(window.Promise=n,window.Promise.resolve=u,window.Promise.reject=t,window.Promise.race=x,window.Promise.all=w,window.Promise.prototype.then=n.prototype.c,window.Promise.prototype["catch"]=n.prototype.g);}());
(function(){'use strict';var h=!!document.addEventListener;function k(a,b){h?a.addEventListener("scroll",b,!1):a.attachEvent("scroll",b)}function w(a){document.body?a():h?document.addEventListener("DOMContentLoaded",a):document.onreadystatechange=function(){"interactive"==document.readyState&&a()}};function x(a){this.a=document.createElement("div");this.a.setAttribute("aria-hidden","true");this.a.appendChild(document.createTextNode(a));this.b=document.createElement("span");this.c=document.createElement("span");this.h=document.createElement("span");this.f=document.createElement("span");this.g=-1;this.b.style.cssText="display:inline-block;position:absolute;height:100%;width:100%;overflow:scroll;font-size:16px;";this.c.style.cssText="display:inline-block;position:absolute;height:100%;width:100%;overflow:scroll;font-size:16px;";
this.f.style.cssText="display:inline-block;position:absolute;height:100%;width:100%;overflow:scroll;font-size:16px;";this.h.style.cssText="display:inline-block;width:200%;height:200%;font-size:16px;";this.b.appendChild(this.h);this.c.appendChild(this.f);this.a.appendChild(this.b);this.a.appendChild(this.c)}
function y(a,b){a.a.style.cssText="min-width:20px;min-height:20px;display:inline-block;overflow:hidden;position:absolute;width:auto;margin:0;padding:0;top:-999px;left:-999px;white-space:nowrap;font:"+b+";"}function z(a){var b=a.a.offsetWidth,c=b+100;a.f.style.width=c+"px";a.c.scrollLeft=c;a.b.scrollLeft=a.b.scrollWidth+100;return a.g!==b?(a.g=b,!0):!1}function A(a,b){function c(){var a=l;z(a)&&null!==a.a.parentNode&&b(a.g)}var l=a;k(a.b,c);k(a.c,c);z(a)};function B(a,b){var c=b||{};this.family=a;this.style=c.style||"normal";this.weight=c.weight||"normal";this.stretch=c.stretch||"normal"}var C=null,D=null,H=!!window.FontFace;function I(){if(null===D){var a=document.createElement("div");try{a.style.font="condensed 100px sans-serif"}catch(b){}D=""!==a.style.font}return D}function J(a,b){return[a.style,a.weight,I()?a.stretch:"","100px",b].join(" ")}
B.prototype.a=function(a,b){var c=this,l=a||"BESbswy",E=b||3E3,F=(new Date).getTime();return new Promise(function(a,b){if(H){var q=function(){(new Date).getTime()-F>=E?b(c):document.fonts.load(J(c,c.family),l).then(function(b){1<=b.length?a(c):setTimeout(q,25)},function(){b(c)})};q()}else w(function(){function r(){var b;if(b=-1!=e&&-1!=f||-1!=e&&-1!=g||-1!=f&&-1!=g)(b=e!=f&&e!=g&&f!=g)||(null===C&&(b=/AppleWebKit\/([0-9]+)(?:\.([0-9]+))/.exec(window.navigator.userAgent),C=!!b&&(536>parseInt(b[1],
10)||536===parseInt(b[1],10)&&11>=parseInt(b[2],10))),b=C&&(e==t&&f==t&&g==t||e==u&&f==u&&g==u||e==v&&f==v&&g==v)),b=!b;b&&(null!==d.parentNode&&d.parentNode.removeChild(d),clearTimeout(G),a(c))}function q(){if((new Date).getTime()-F>=E)null!==d.parentNode&&d.parentNode.removeChild(d),b(c);else{var a=document.hidden;if(!0===a||void 0===a)e=m.a.offsetWidth,f=n.a.offsetWidth,g=p.a.offsetWidth,r();G=setTimeout(q,50)}}var m=new x(l),n=new x(l),p=new x(l),e=-1,f=-1,g=-1,t=-1,u=-1,v=-1,d=document.createElement("div"),
G=0;d.dir="ltr";y(m,J(c,"sans-serif"));y(n,J(c,"serif"));y(p,J(c,"monospace"));d.appendChild(m.a);d.appendChild(n.a);d.appendChild(p.a);document.body.appendChild(d);t=m.a.offsetWidth;u=n.a.offsetWidth;v=p.a.offsetWidth;q();A(m,function(a){e=a;r()});y(m,J(c,'"'+c.family+'",sans-serif'));A(n,function(a){f=a;r()});y(n,J(c,'"'+c.family+'",serif'));A(p,function(a){g=a;r()});y(p,J(c,'"'+c.family+'",monospace'))})})};window.FontFaceObserver=B;window.FontFaceObserver.prototype.check=B.prototype.a;"undefined"!==typeof module&&(module.exports=window.FontFaceObserver);}());

var observer = new FontFaceObserver('Jeju Gothic');

observer.check()
    .then( function(){
        document.documentElement.className += " fonts-loaded";
});

!function(e){"use strict";var n=function(n,t,i){function o(e){return r.body?e():void setTimeout(function(){o(e)})}var d,r=e.document,a=r.createElement("link"),l=i||"all";if(t)d=t;else{var f=(r.body||r.getElementsByTagName("head")[0]).childNodes;d=f[f.length-1]}var s=r.styleSheets;a.rel="stylesheet",a.href=n,a.media="only x",o(function(){d.parentNode.insertBefore(a,t?d:d.nextSibling)});var u=function(e){for(var n=a.href,t=s.length;t--;)if(s[t].href===n)return e();setTimeout(function(){u(e)})};return a.addEventListener&&a.addEventListener("load",function(){this.media=l}),a.onloadcssdefined=u,u(function(){a.media!==l&&(a.media=l)}),a};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this);
loadCSS("static/css/blog.css");
loadCSS("static/css/aboutpage.css");
loadCSS("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
loadCSS("http://fonts.googleapis.com/earlyaccess/jejugothic.css");
loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
</script>
</head>
<body>
<div class="blog-masthead">
<div class="container">
<nav class="blog-nav">
<a class="blog-nav-item" href="/">홈</a>
<a class="blog-nav-item" href="#">개발 일지</a>
<a class="blog-nav-item active" href="/about">프로필</a>
</nav>
</div>
</div>
<div class="about-box">
<div class="container">
<h1>딘위</h1>
<h5>자바 프로그래머, 프론트 엔드 개발자, 웹 개발자</h5>
</div>
</div>
<div class="about-box2">
<div class="container">
<h2>자기 소개</h2>
<div class="row">
<div class="col-sm-3">
<img class="img-circle type1" src="static/imgs/dinwy-id-photo.jpg">
</div>
<div class="col-sm-8">
<h3>안녕하세요.</h3>
<p>딘위는 제 닉네임이며, 본명은 민경재입니다. 
RESTful 웹 애플리케이션을 만드는 프론트 엔드 개발자입니다.  
또한 Paas와 Vert.x, Node.js를 이용해서 백 엔드도 구축할 수 있습니다.  
프로그래밍을 통해서 더 나은 미래를 만들 수 있다는 것을 믿고, 그러한 미래를 꿈꿉니다.</p>
</div>
</div>
</div>
</div>
<div class="about-box3">
<div class="container">
<h2>타임 라인</h2>
<div class="row">
<div class="col-sm-3">
<div class="timeline">
<h4>2007-2014<h4>
</div>
<img class="img-circle type1" src="static/imgs/uos-logo.jpg">
</div>
<div class="col-sm-8">
<h3>서울시립대학교 경제학과 졸업</h3>
<p>비록 프로그래밍과 전혀 상관없는 과목을 전공했습니다만, 늘 프로그래밍에 관심이 있었습니다.
졸업 시점을 앞두고 프로그래머가 되기 위해서 본격적으로 공부를 시작했습니다.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3 float-right">
<div class="timeline">
<h4>2014.03-2015.06<h4>
</div>
<img class="img-circle type1" src="static/logos/unity.svg">
</div>
<div class="col-sm-8">
<h3>약 1년 동안 C#과 유니티 공부</h3>
<p>1인 인디 게임 제작자를 목표로 하여 유니티를
 공부했습니다. 2014년 유나이트 코리아에 대학생 신분으로 참가하기도 했으며, C#과 유니티를 꾸준히 공부했습니다.
 결과적으로 완성된 게임을 출시하지는 못 했습니만, 프로그래밍 실력을 많이 키웠습니다.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<div class="timeline">
<h4>2015.06-2015.09<h4>
</div>
<img class="img-circle type1" src="static/imgs/kotra-logo.jpg">
</div>
<div class="col-sm-8">
<h3>코트라 일본 IT 인턴십 참가</h3>
<p>독학으로 프로그래밍을 공부하는 데는 한계가 있다고 느꼈습니다. 그래서 코트라 일본 IT 인턴십에 참가했습니다.
일본에서 일본어와 함께 3개월간 자바를 메인 언어로 하여, 톰캣과 JSP기반으로 웹 서버 프로그래밍 공부했습니다.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3 float-right">
<div class="timeline">
<h4>2015.10-2016.01<h4>
</div>
<img class="img-circle type1" src="static/imgs/ais-logo.png">
</div>
<div class="col-sm-8">
<h3>일본 현지 회사에서 근무</h3>
<p>4개월 동안 AIS라는 SI업체에서 근무했습니다.
톰캣과 JSP를 사용하여 출퇴근 시스템을 만드는 것부터 시작하여, 리눅스 CentOs에서 FTP 서버를 구축하기도 했습니다. 
일적인 부분 외에도 개인적으로 Vert.x, Gradle, Bootstrap, Git, SVN, WordPress 등의 다양한 프레임워크를
배우면서 실력을 쌓아나갔습니다.</p>
</div>
</div>
</div>
</div>
<div class="about-box2">
<div class="container">
<h2>포트폴리오</h2>
<h3><img class="favicon" src="static/imgs/dinwy-logo.svg"> 당신이 지금 보고 있는 이 블로그</h3>
<p>이 블로그는 도메인 등록에서부터 실제 운용까지 혼자서 만들었습니다.
백 엔드는 Openshift 서버에 Vert.x, mySQL를 올려서 사용중이며,
프론트 엔드는 Bootstrap, Javascript, jQuery 등의 프레임 워크를 사용했습니다.
성능과 디자인 모두 고려했습니다.<br>
블로그를 만드는 데 사용된 소스 코드는 <a href="http://aischat-dinwy.rhcloud.com/main"><i class="fa fa-github fa-lg"></i>깃허브</a>에서 볼 수 있습니다.</p>
<div class="row">
<div class="timeline">
<h4>반응형 웹 디자인<h4>
</div>
<div class="col-sm-6">
<img class="img-etc" src="static/imgs/responsive-dinwy-min.png">
</div>
<div class="col-sm-6">
<p>모든 디바이스(데스크탑, 태블릿, 폰)에서 보기 좋은 반응형 웹으로 만들어졌습니다. 
CSS3와 HTML5을 사용하였으며, 화면을 키우거나 줄여도 항상 보기 좋게 표시됩니다.<br>
그리고 불러오는 이미지들은 압축되어 업로드 되었으며, 파일 형식은 PNG, SVG 등으로 알맞게 나눠져 있습니다. </p>
</div>
</div>
<div class="row">
<div class="timeline">
<h4>비동기 웹 애플리케이션<h4>
</div>
<div class="col-sm-6">
<p>CSS 로딩에서부터 Font, Javascript, Image, Favicon까지.
이 블로그를 구성하는 모든 콘텐츠는 비동기식으로 불러오도록 설정되어 있습니다.
그 어떤 콘텐츠도, 그 콘텐츠가 로딩되는 동안 다른 콘텐츠를 가리거나 막지 않습니다.</p></div>
<div class="col-sm-6">
<img class="" src="static/imgs/pingdom-dinwy.jpg">
<img class="" src="static/imgs/webpagetest-timestamp-dinwy.png">
</div>
</div>
<hr>
<h3>그 외 개발 경험</h3>
<p>JSP&톰캣, Vert.x, 워드프레스까지. 다양한 서버 프레임 워크 및 CMS을 사용해서 웹 페이지를 개발한 경험이 있습니다.
JSP와 톰캣 기반의 사내 출퇴근 시스템, Vert.x와 SockJS를 기반의 채팅 서버, 워드프레스를 기반의 사내 홈페이지 등을 만들었습니다.<br>
이 외에도 CentOS에서 SVN 서버 및 FTP 서버 구축, Unity에서 게임 개발 경험(미완성, 미출시)이 있습니다.
</p>
<div class="row">
<div class="col-sm-4">
<img class="img-etc" src="static/imgs/ais-timelog.png">
</div>
<div class="col-sm-4">
<img class="img-etc" src="static/imgs/ais-chat.png">
</div>
<div class="col-sm-4">
<img class="img-etc" src="static/imgs/ais-wp.jpg">
</div>
</div>
</div>
</div>
<div class="about-box4">
<div class="container">
<h2>스킬 셋</h2>
<h4>사용하는 스킬들은 다음과 같은 상대적인 숙련도를 가지고 있습니다.</h4>
 <div class="btn-group btn-group-justified">
  <a class="btn btn-success">능숙함</a>
  <a class="btn btn-info">보통</a>
  <a class="btn btn-warning">서투름</a>
</div>
<div>
<ul class="logos">
<li><img class="img-rectangle lv3" src="static/logos/java.svg"></li>
<li><img class="img-rectangle lv3 nopadding" src="static/logos/javascript.svg"></li>
<li><img class="img-rectangle lv3" src="static/logos/html-5.svg"></li>
<li><img class="img-rectangle lv3" src="static/logos/css-3.svg"></li>
<li><img class="img-rectangle lv3" src="static/imgs/vertx.png"></li>
<li><img class="img-rectangle lv2" src="http://www.yellosoft.us/public/images/csharp.svg"></li>
<li><img class="img-rectangle lv2" src="static/logos/jquery.svg"></li>
<li><img class="img-rectangle lv2" src="static/logos/gradle.svg"></li>
<li><img class="img-rectangle lv2" src="static/logos/mysql.svg"></li>
<li><img class="img-rectangle lv2" src="static/logos/tomcat.svg"></li>
<li><img class="img-rectangle lv2" src="static/logos/git.svg"></li>
<li><img class="img-rectangle lv2" src="static/logos/openshift.svg"></li>
<li><img class="img-rectangle lv1" src="static/logos/nodejs-icon.svg"></li>
<li><img class="img-rectangle lv1" src="static/logos/angular-icon.svg"></li>
<li><img class="img-rectangle lv1" src="static/logos/wordpress.svg"></li>
<li><img class="img-rectangle lv1" src="static/logos/php.svg"></li>
</ul>
</div>
<p><i class="fa fa-commenting fa-lg"></i>
직관적이고, 재사용 가능한 코드를 만드는 것을 추구합니다.</P>
</div>
</div>
<div class="about-box2">
<div class="container">
<h2>어학 능력</h2>
<h4>사용하는 언어들은 다음과 같은 숙련도를 가지고 있습니다.</h4>
 <div class="btn-group btn-group-justified">
  <a class="btn btn-success">능숙함</a>
  <a class="btn btn-info">보통</a>
  <a class="btn btn-warning">서투름</a>
</div>
<div>
<ul class="logos">
<img class="img-rectangle lv3" src="static/imgs/korea-language.svg">
<img class="img-rectangle lv3" src="static/imgs/japan-language.svg">
<img class="img-rectangle lv2" src="static/imgs/english-language.svg">
</ul>
</div>
<p><i class="fa fa-commenting fa-lg"></i>
한국어는 모국어입니다. 늘 바르고 정확한 언어를 사용하기 위해서 항상 주의하고 신경쓰고 있습니다.</P>
<p><i class="fa fa-commenting fa-lg"></i>
일본어는 가장 능숙한 외국어입니다. 1년 이상 일본 살았습니다. 다소 부족하지만 원어민에 가까운 수준입니다. 7년 전부터 공부를 시작하여, 2010년에 JLPT N1 자격증을 취득하였습니다.
또한 2012년도에 일본 간세이가쿠인 대학교에 교환 유학을 다녀왔으며, 현재 일본에서 살고 있습니다.  </P>
<p><i class="fa fa-commenting fa-lg"></i>
영어는 두 번째로 능숙한 외국어입니다. 1년 간 캐나다 벤쿠버에서 살았었습니다. 
일상적인 회화, 읽기, 쓰기에는 문제가 없는 수준입니다.
예를 들자면, 영어권 친구들과 이야기를 나누고 스택 오버플로우에서 질문을 읽으며 궁금한 점을 묻는 데 불편함을 느끼지 않습니다.
다만, 아직 전문적인 뉴스 기사를 읽고 해석하는 데는 다소 시간이 걸립니다.</P>
</div>
</div>
<!--
<div class="jumbotron">
<div class="container">
<h1>포트폴리오</h1>
<p>자바 프로그래머</p>
</div>
</div> -->
<div class="about-intro">
</div>
<footer class="blog-footer">
<p>2016, Dinwy. All Rights Reserved.</p>
<p>
<a href="#">Back to top</a>
</p>
</footer>
<script>
//window.scrollTo(0,document.body.scrollHeight);
</script>
<script async src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>