<!DOCTYPE html>
<html>
<head>
<title>Dinwy's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="stylesheet" type="text/css" href="static/css/blog.css">
<link rel="stylesheet" type="text/css" href="static/css/aboutpage.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="blog-masthead">
<div class="container">
<nav class="blog-nav">
<a class="blog-nav-item active" href="/">홈</a>
<a class="blog-nav-item" href="#">개발 일지</a>
<a class="blog-nav-item" href="/about">프로필</a>
</nav>
</div>
</div>
<div class="about-box">
<div class="container">
<h1>딘위</h1>
<p>자바 프로그래머</p>
</div>
</div>
<div class="about-box2">
<div class="container">
<h2>자기소개</h2>
<div class="row">
<div class="col-sm-3">
<img class="img-circle type1" src="http://svgporn.com/logos/java.svg">
</div>
<div class="col-sm-9">
<p>자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머자바 프로그래머</p>
</div>
</div>
</div>
</div>
<div class="jumbotron">
<div class="container">
<h1>타임 라인</h1>
<p>자바 프로그래머</p>
</div>
</div>
<div class="jumbotron">
<div class="container">
<h1>포트폴리오</h1>
<p>자바 프로그래머</p>
</div>
</div>
<div class="about-box">
<h1>스킬 셋</h1>
<ul class="logos">
<li><img class="img-circle type1" src="http://svgporn.com/logos/java.svg"></li>
<li><img class="img-circle type2" src="http://svgporn.com/logos/javascript.svg"></li>
<li><img class="img-circle type3" src="http://svgporn.com/logos/jquery.svg"></li>
<li><img class="img-circle type4" src="http://svgporn.com/logos/gradle.svg"></li>
</ul>
<h1>언어 능력</h1>
</div>
<div class="about-intro">
</div>
<footer class="blog-footer">
<p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
<p>
<a href="#">Back to top</a>
</p>
</footer>
<script>
//window.scrollTo(0,document.body.scrollHeight);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>